<h1><%= @article.title %></h1>
<p class="tag_holder">
	Tags:
	<% @article.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
<p class="viewcount_holder"> Posted <%= @article.created_at %>, Viewed <%= @article.viewcount %> times </p>
<p class="image_holder">
	<% if @article.image.exists? %>
		<%= image_tag @article.image.url %>
	<% end %>
</p>
<p class="body_holder"><%= @article.body %></p>
<h3 class="comments_size_holder">Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Articles List", articles_path %>
<% if logged_in? %>
 | 
<%= link_to "Edit", edit_article_path(@article) %>  | 
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<% end %>